body{
    color: white;
}

   
#aaa:link {color:white;}    /* 未被访问的链接 */
#aaa:visited {color:white;} /* 已被访问的链接 */
#aaa:hover {color:rgb(219, 74, 255);}   /* 鼠标指针移动到链接上 */
#aaa:active {color:white;}  /* 正在被点击的链接 */
   

/******************** 唐老师简介文字相片的总盒子 ********************/
#tangjian{

    border: 5px rgb(46,49,124) double;
    border-radius: 15px;
    width: 45%;
    height: 45.8em;
    margin-left: 30px;
    /* text-align: right; */
}

/******************** 唐老师相片的盒子 ********************/
#tangjian-pic-div{

    width: 30%;
    /* border: 2px yellow solid; */
    margin-left: 0;
    transform: translate(225%,0);
    padding-left: 0em;
}

/******************** 左上短文本的盒子 ********************/
#tangjian-text-div-short{
    position: absolute;
    width: 30%;
    height: 18em;
    transform: translateY(-100%);    /* Y方向移动盒子 */

    margin-top: 0em;
    /* border:3px springgreen solid; */
    padding-left: 1em;

}


/******************** 下部长文本的盒子 ********************/
#tangjian-text-div-long{
    position: absolute;
    width: 42%;
    height: 50em;
  
    margin-top: 0em;
    /* border:3px springgreen solid; */
    padding-left: 1em;
    padding-right: 1em;

}


.search-items-en{
    font-family: 'Times New Roman', Times, serif;    /* 英文字体 */
    
}

/******************** 我们的团队相片 ********************/
#our-team{
    position: absolute;
    width: 45%;
    height: 45.8em;
    border: 3px rgb(46,49,124) double;
    border-radius: 15px;

    transform: translate(110%,-100%);
    padding-top: 2px;

}