.main{
    position: static;
    width: 90%;
    height: 15em;
    border: 2px solid red;
    margin: 25px auto 50px;

}

#pic{

    float: left;
    width: 25%;
    height: 15em;
    border: 2px solid blue;
}

.text{
    float: left;
    width: 70%;
    height: 15em;
    border: 2px solid yellow;
    margin: 0 auto 0 4%;
    color: white;
    /*word-spacing: 1px;               单词间距*/
    letter-spacing: 1px;          /* 漢字间距*/
    text-indent: 2em;
    
}