a{
    text-decoration: none;
}

/****************** 简介、图片、成绩 总框框 ****************/
#main{
    width: 90%;
    /* border: 2px solid red; */
    height: 650px;
    margin: 50px auto 25px;
}

/****************** 照片 框 ****************/
#main-pic{
    float: left;
    width :30%;
    margin-top: 50px;
    


}

/****************** 照片左侧文字 框 ****************/
#main-text{
    float: left;
    height: 400px;
    width: 55%;
    margin-left: 80px;

    /* border: 1px solid yellow; */
    color: #666666;
    font-size: 16pt;
    
}

/****************** 业绩  ****************/
#main-succ{
    float: left;
    width: 82%;    

    margin: 0px 8% 10px;

    font-size: 16pt;
    line-height: 28pt;
    color: #666666;
}


/****************** 照片左侧文字的“唐健” 名字 ****************/
#main-text-name{
    font-size: 32pt;
    color: #666666;
}

/****************** 照片左侧文字 ****************/
.main-text-vip{
    font-size: 20pt;
    color: black;
}



/****************** 标题及其上下分割线 ****************/
.title{
    width: 80%;
    padding-bottom:  1em;
    border-bottom:2px solid #666666;
    margin: 50px auto 0px;
    text-align: center;
    line-height: 1pt; 
    color: teal;
    font-size: 16pt;
}
#achive-text{
    margin: 25px auto  50px;
    margin-left: 160px;
    width: 80%;
    color: #666666;
    font-style: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 4px;               /*单词间距*/
    letter-spacing: 1px;           /*字母间距*/
    line-height: 30pt;
    
}

/****************** 科研成果35+篇论文情况 ****************/
#paper-index{
    margin-left: 11%;
    padding-left: 4%;
    line-height: 34px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    border-left:8px solid teal;
}

#achive-paper{
    margin: 25px auto  50px;
    width: 80%;
    color: #666666;
    font-style: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 4px;               /*单词间距*/
    letter-spacing: 1px;           /*字母间距*/
    line-height: 20pt;
    
}


/****************** 科研相关荣誉 ****************/
#achive-bottom{
    width: 100%;
    margin: 25px auto 50px ;
}

