body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    background-color:  rgb(245, 245, 245);
}
a{    text-decoration : none;} 

/*************** 最顶部logo **************/

/*************** 菜单按钮 **************/

/*************** picture、news、about三部分总框 **************/
#page{
    /* border: 2px solid red ; */
    height: 900px;
    width: 100%;
}
/*************** 左侧picture、about总框 **************/
#left{
    /* border: 2px solid red; */
    height: 900px;
    width: 60%;
    float: left;
}
/*************** 左上picture框 **************/
#picture{
    float: left;
    /* border:2px solid blue; */
    height: 500px;
    width: 100%;

}
/************ 百叶窗效果（废弃） *************/

/************     轮播图效果    *************/
/* 总框 */
.banner{
    position: relative;
    width: 64%;
    height: 320px;
    margin-top: 100px;
    margin-left: 200px; 
    /* margin-right: 50px; */

}
/* 三张图的总ul */
.cont{
    width: 100%;
    height: 390px; 
    /* box-shadow:2px 5px 15px rgba(0,0,0,0.5); */
}
/* 三张图之一 */
.cont li{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 390px;
    list-style: none;
    transform: translate(-40px,0px);    /*轮播图 图片位置 (左，上)*/
}
/* 三张图之一 */
.item.active{
    z-index: 50;

}
#Larrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 40px;
    height: 60px;
    z-index: 99;
    color: #fff;
    text-align: center;
    line-height: 60px;             /* =height */  
    transform: translateY(-50%);
    border-radius: 5px;
    opacity:0.8;                   /*透明度*/
    background-color: skyblue;
}
#Rarrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 40px;
    height: 60px;
    z-index: 99;
    color: #fff;
    text-align: center;
    line-height: 60px;              /* =height */    
    transform: translateY(-50%);
    border-radius: 5px;
    opacity:0.8;                   /*透明度*/
    background-color: skyblue;

}
.dot{
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateY(45px);  /*下*/
    display: flex;
    z-index: 99;
    list-style: none;
}
.dot .point{
    cursor: pointer;
    width: 8px;
    height: 8px;
    margin: 6px;
    background-color: rgba(0,0,0,.8);
    border-radius: 50%;
}
.point.active{                         /* 激活点颜色 */
    background-color: skyblue;
}


/*************** muon视频的位置控制 **************/
#video-muon{
    position: relative;
    top: -20px;
    left: 140px;
}


/*************** 左下about框 **************/
#about{
    float: left;
    /* border: 2px solid blue; */
    height: 400px;
    width: 100%;
}

#about-title{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 6px solid teal;
    margin-left: 50px;
    margin-bottom: 20px;
}

#about-text{
    margin-left: 50px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:auto ;
    letter-spacing: 1.5px;          /* 漢字间距*/
    text-indent: 2em;             /* 首行缩进 */
    line-height: 20pt;
    color: #666666;
}

/*************** 右侧news框 **************/
#news{
    float: left;
    /* border: 2px solid blue; */
    height: 900px;
    width: 35%;
    margin-left: 35px;
}

#news-title{
    padding-left: 20px;
    padding-right: 20px;
    border-left: 6px solid teal;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;

}
.news-items{
    width: 90%;
    list-style-type: none;
    border-bottom: 1px solid skyblue;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 10px;    /* 保证条目与标题左侧竖线对其 */

}
h6{
    font-size: 12pt;
    color: teal;
    margin: 15px auto 5px;
}
#news-more{
    width: 90%;
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 10px;    /* 保证条目与标题左侧竖线对其 */
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    background-color: skyblue;
    text-align: center;
    font-size: 16pt;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
}

/*************** 名言警句 **************/
#AmIContent{
    width: 92%;
    margin-left: 4%;
    margin-top: 60px;    /*名言警句上面蓝色分割线高度*/
    padding-top: 60px;
    border-top: 2px solid skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14pt ;
    /* letter-spacing: ;          漢字间距*/
    text-indent: 2em;             /* 首行缩进 */
    line-height: 26pt;
    color: #666666;
}
#Renzo{
    width: 40%;
    margin-left: 58%;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color:teal;
}



/*************** 最底部框 **************/
#bottom{
    border-top : 2px solid #c0c0c0;
    width: 92%;
    margin-left: 4%;
    margin-top: 60px;
    height: 300px;
    color: #666666;
 
    
}
/**********友情链接  *********/
#bottom-link{
    float: left;
    width: 45%;
    height: 300px;

}
#bottom-link-title{
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 50px;
    margin-bottom: 20px;    
    border-bottom: 2px solid #666666;
    width: 80%;
    font-size: 18pt;

}
.bottom-link-li{
    width: 100%;
    margin-left: 30px;
    font-size: 12pt;
    list-style-type: none;
    line-height: 24pt;
    letter-spacing: 1.5px;
    
}

.bottom-link-a:link{
    color: #666666;
}

.bottom-link-a:visited {
    color:#666666;
    text-decoration:none;
}
    
.bottom-link-a:hover {
    color:#666666;
    text-decoration:none;
    }
    
.bottom-link-a:active {
    color:#666666;
    text-decoration:none;
}


 /********** 联系我们 *********/
#bottom-contact{
    float: left;
    width: 45%;
    height: 300px;
}
#bottom-copyright{
    display: inline-block;
    width: 100%;
    text-align: center;    
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid teal;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}


.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 完整显示图片 */
}

/* 为方形图片单独设置样式 */
.square-image {
    width: auto; /* 根据高度调整宽度 */
    height: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    padding: 20px;
    border-radius: 10px;
}