/*
 * The dark style when user prefers that in their browser/OS.
 */

body {
	color: #e9d0fc;
	background-color: #111;
}
.inverted {
	color: white;
	background-color: #51c4d3;
}

a {
	color: #51c4d3;
}
a:visited {
	color: #51c4d3;
}
a:active {
	color: #51c4d3;
}

.inverted a {
	color: white;
}
