a:link {
    color:black;
    text-decoration:none ;
}
a:visited {
    color:black;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
}
a:active {
    color:black;
    text-decoration:none;
}

/**************** 标题 ****************/
.title{
    width: 90%;
    margin: 60px auto 20px;
    border-bottom: 2px solid skyblue;
    padding-left: 40px;
    text-align: left;
    color: teal;
    font-size: 24pt;
    font-family: SimHei;
    display: block;
}

/******************* 计算平台 *******************/
#computer{
    height: 300px;
    /* display: inline-block; */
}
#BESIII{
    margin-left: 15%;
    margin-top: 30px;         
    float: left;
    width: 25%;
    height: auto;               /* 可以用 220px */
    box-shadow:0px 5px 10px rgba(0,0,0,0.5)

}
#th-2{
    margin-left: 20%;
    margin-top: 30px;         
    float:  left ;
    width: 25%;
    height: auto;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)

}

/************** 操作系统 *****************/
#os{
    height: 430px;
    /* display: inline-block; */
}
#vmware{
    margin-left: 10%;
    margin-top: 30px;         
    float: left;
    width: 20%;
    height: auto;   box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#ubuntu{
    margin-left: 10%;
    margin-top: 30px;         
    float: left;
    width: 20%;
    height: auto;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#centos{
    margin-left: 10%;
    margin-top: 30px;         
    float: left;
    width: 20%;
    height: auto;   box-shadow:0 5px 10px rgba(0,0,0,0.5)
}

/**************** 物理软件 ***************/
#software{
    display: inline-block;
    height: 500px;              /* margin-bottom: 20px ;*/
}
#root{
    margin-left: 10%;
    margin-top: 30px;           /* 物理软件下划线到ROOT顶部距离50px */
    width: 22%;
    height: auto;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#geant4{
    margin-left: 7%;
    margin-top: 30px;
    width: 22%;
    height: auto;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#genie{
    margin-left: 7%;
    margin-top: 30px;
    width: 22%;
    height: auto;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#nuwro{
    margin-left: 10%;
    margin-top: 80px;
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)

}
#darksusy{
    margin-left: 9%;
    margin-top: 133px;      /*  80+(203.5-97.75)/2 */
    width: 22%;
    height: auto;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)

}
#singularity{
    margin-left: 9%;
    margin-top: 80px;
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)

}

/**************** 实用软件 ***************/
#others{
    height: 400px;              /* margin-bottom: 20px ;*/
    /* display: inline-block; */
}
#LaTeX{
    margin-left: 10%;
    margin-top: 30px;           /* 物理软件下划线到ROOT顶部距离50px */
    width: 22%;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}
#git{
    margin-left: 7%;
    margin-top: 30px;
    width: 22%;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)

}
#xshell{
    margin-left: 7%;
    margin-top: 30px;
    width: 22%;
    float: left;
    box-shadow:0 5px 10px rgba(0,0,0,0.5)
}