a:link {
    color:black;
    text-decoration:none ;
}

a:visited {
    color:black;
    text-decoration:none;
}
    
a:hover {
    color:black;
    text-decoration:none;
    }
    
a:active {
    color:black;
    text-decoration:none;
}

/**************** 标题 ****************/
.text{
    width: 90%;
    margin: 60px auto 20px;
    border-bottom: 2px solid skyblue;
    padding-left: 40px;
    text-align: left;
    color: teal;
    font-size: 24pt;
    font-family: SimHei;
}

/**************** 标题内正文 ****************/
.research{

    width: 70%;
    margin: 30px 215px 20px;
    text-align: left;
    font-size: 16pt;
    font-family: SimHei;
}

/**************** 代码统计左侧列表 ****************/
#coder{
    float: left;
    width: 40%;

}

/**************** 代码统计 ****************/
 #cloc-code{
    float: left;
    margin-top: 50px;
    
}



/**************** 评论 ****************
#text-c{
    float: left;
    width: 90%;
    margin-left: 60px ;
    margin-top: -120px;
    border-bottom: 2px solid skyblue;
    padding-left: 40px;
    text-align: left;
    color: teal;
    font-size: 24pt;
    font-family: SimHei;
}

 #comment{
    width: 90%;

    margin-left: 5%;
    float: left;
} */