a:link {
    color:black;
    text-decoration:none ;
}

a:visited {
    color:black;
    text-decoration:none;
}
    
a:hover {
    color:black;
    text-decoration:none;
    }
    
a:active {
    color:black;
    text-decoration:none;
}

/****************  ****************/
.text{
    width: 90%;
    margin: 60px auto 20px;
    border-bottom: 2px solid skyblue;
    padding-left: 40px;
    text-align: left;
    color: teal;
    font-size: 24pt;
    font-family: SimHei;
}

/****************  ****************/
.research{

    width: 70%;
    margin: 30px 215px 20px;
    text-align: left;
    font-size: 16pt;
    font-family: SimHei;
}

#weather{
    width: 10%;
    transform: translate(750%,-89%);
}

/**************** 代码统计 ****************/
 #cloc-code{
  transform: translate(85%,-140%);  /*  (向右，向下)  */
    
}


/*  */
#map-weather{
    margin-top: -10em;
    margin-left: 6%;

    width: 90%;
}

/**************** 地图 ****************/
#map{
    float: left;
    margin-right: 10px;
    margin-bottom: 4em;

}
#weather-view-he{
    float: left;
}

/**************** 评论 ****************/
#text-c{
    float: left;
    width: 90%;
    margin-left: 60px ;
    margin-top: -120px;
    border-bottom: 2px solid skyblue;
    padding-left: 40px;
    text-align: left;
    color: teal;
    font-size: 24pt;
    font-family: SimHei;
}

#comment{
    width: 90%;

    margin-left: 5%;
    float: left;
}