/* 唐老师简介文字相片的总盒子 */
#tangjian{

    border: 5px rgb(46,49,124) double;
    border-radius: 15px;
    width: 45%;
    height: 50em;
    /* text-align: right; */
}

/* 相片的盒子 */
#tangjian-pic-div{

    width: 30%;
    /* border: 2px yellow solid; */
    margin-left: 0;
    transform: translate(225%,0);
    padding-left: 0em;
}

/* 左上短文本的盒子 */
#tangjian-text-div-short{
    position: absolute;
    width: 30%;
    height: 18em;
    transform: translateY(-100%);    /* Y方向移动盒子 */

    margin-top: 0em;
    /* border:3px springgreen solid; */
    padding-left: 1em;

}


/* 下部长文本的盒子 */
#tangjian-text-div-long{
    position: absolute;
    width: 42%;
    height: 50em;
  
    margin-top: 0em;
    /* border:3px springgreen solid; */
    padding-left: 1em;
    padding-right: 1em;

}

#search-items{
    line-height: 26pt;           /* 研究方向的行间距 */

}

.search-items-en{
    font-family: 'Times New Roman', Times, serif;    /* 英文字体 */
}

/* 我们的团队相片 */
#our-team{
    position: absolute;
    height: 50em;
    border: 3px rgb(46,49,124) double;
    border-radius: 15px;

    transform: translate(100%,-34.4%);
    padding-top: 2px;

}